body {
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    width: 99.9%;
    height: 99.9%;
}

html {
    width: 99.9%;
    height: 99.9%;
}

#tabela {
    visibility: hidden;
}